.greeting{
  text-align: center;
}
li {
  color: aliceblue;
  font-size: 15px;

}

p {
  color: aliceblue;
  font-size: 20px;
}

h1 {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;

}

h2 {
  color: aliceblue;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  color: #1BF7DE;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.row {
  line-height: 1cm;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.column {
  flex: 1;
  padding: 10px;
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}

@media(max-width:767px) {
  header {
    background-color: rgb(241, 238, 238);
  }

  nav {
    font-size: 24px;
  }
}

@media(min-width:1200px) {
  header {
    width: 1200px
  }
}

.container-nav {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: rgb(27, 137, 211);
}


.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.brand {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


li>a {
  padding: 8px 24px;
}


li {
  list-style-type: none;
  font-size: 20px;
}


a {
  color: white;
  text-decoration: none;
}


.nav-links {
  display: flex;
  align-items: center;
}


.button-menu-toggle {
  display: none;
}





@media (max-width: 768px) {
  .column {
    flex: 100%;
  }


  .nav-links {
    display: none;
    

  }


  .button-menu-toggle {
    display: block;
    background-color: white;
    border: none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 25px;
  }

  .nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background: rgb(24,0,36);
background: linear-gradient(90deg, rgba(24,0,36,0.5746673669467788) 0%, rgba(29,26,120,1) 1%, rgba(0,212,255,1) 65%, rgba(0,212,255,1) 93%);
    width: 50%;
    height: 70%;
    top: 90px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap: 70px;
    font-size: 30px;
    border: 1px solid #fff;


  }
}





.iframe-container {
  justify-content: center;
  display: flex;
  border: solid rgb(255, 253, 253) 1px;
  padding: 10px;
}

.servicios {
  justify-content:center;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  border: solid white 2px;
  
  }
  .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1cm;
  
  }
  img {
    width: 400px;
    height: 300px;
    padding: 10px;
    border: solid white 1px;
    
    }
    .custom-label {
      display: inline-block;
      padding: 5px 10px;
      background-color: #3c1bf7;
      color: #fff;
      border-radius: 5px;
      font-family: Arial, sans-serif;
      font-size: 16px;
      cursor: pointer;
      border:solid white 1px;
      justify-content: center;
      margin: 1cm;
    }